* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: #e6e6e6;
  font-family: 'Tahoma', Arial, sans-serif;
  box-sizing: border-box;
}
.content {
display: flex;
width: 100%;
max-width: 960px;
height: auto;
margin: 0 auto;
justify-content: center;
align-items:stretch;
align-content: stretch;
flex-flow: row wrap;
background-image: url("../img/background.jpg");
}
.asia {
  flex: 1 1 600px;
  height: auto;
}
.header {
  display: flex;
  width: 100%;
  max-width: 960px;
  border: 1px solid #F7D275;
  margin: 44px 0 5px 0;
  padding: 83px 0 0 0;
}
.logo {
  align-self: flex-end;
  padding: 0 0 9px 72px;
}
.logo p {
  font-size: 10px;
  padding: 0 0 0 74px;
}
.contacts {
  align-self: flex-end;
  padding:0px 0px 10px 492px;
  font-size: 10px;
}
.main {
max-width: 960px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-self: flex-start;
margin-bottom: 20px;
padding: 2px 0px 0px 63px;
text-align: center;
}
.countries {
  flex: 1 1 200px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 53px;
}
.text {
  flex: 1 1 100px;
}
.footer {
display: flex;
justify-content: center;
margin-top: 100px;
border: 1px solid red;
}
.countries a {
  color: #e1e1e1;
  text-decoration: none;
}
.footer_contacts p {
  font-size: 11px;
}
