* {
  margin: 0;
  padding: 0;
}

/*HEADER*/
.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 50px 48px 60px 46px;
  box-shadow: 0 0 1px 2px #dbdbdb;
  box-sizing: border-box;
}
.header {
  height: 84px;
}
/*.header_logo_link {
  display: block;
  width: 143px;
}*/
/*NAVIGATION*/
.header_nav {
  max-width: 965px;
  height: 40px;
  /*margin-top: 40px;*/
  background: linear-gradient(to top, #454444, #5d5d5d);
  t

}
.header_nav li {
  height: 40px;
  float: left;
  display: block;
  text-align: center;
  line-height: 37px;
}
.header_nav li a {
  height: 40px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size:18px;
  display: block;
}
.header-nav_link_main {
  height: 26px;
  width: 144px;
}
.header-nav_link_goods {
  width: 100px;
  background: linear-gradient(to top, #2f2f2f, #494949);
  border-right: 1px solid #838383;
  border-left: 1px solid #838383;
}
.header-nav_link_about {
  height: 26px;
  width: 166px;
}
.header-nav_link_contacts {
  height: 26px;
  width: 115px;
}
.header_nav li a:hover {
  font-family: 'Londrina Outline', cursive;
  background: linear-gradient(to top, #2f2f2f, #494949);
}

.header-nav_link_about:hover {
  border-right: 1px solid #838383;
}
.header-nav_link_contacts:hover {
  border-right: 1px solid #838383;
  border-left: 1px solid #838383;

}
/*SIDEMENU*/
.side_menu {
 margin-top: 41px;
 float: left;
}
.side_menu li {
  height: 40px;
  width: 240px;
  list-style-type: none;
  font: 14px BrowalliaUPC;
  border-top: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}
#phone,
 .side_menu_phones {
  padding-left: 35px;
  background-color: #f9f9f9;
}
.side_menu li a {
  height: 27px;
  display: block;
  color: #7a7878;
  text-decoration: none;
  padding-top: 13px;
  padding-left: 24px;
}
.side_menu li a:hover {
  padding-left: 35px;
  background-color: #f9f9f9;
}
.side_menu_car-goods {
  border-bottom: 1px solid #c8c8c8;
}
/*CONTENT*/
.content {
  max-width: 966px;
}
.container_bike {
  float: right;
  margin-top: 41px;
  height: auto;
  width: 63.86792452830189%;
  border: 1px solid #c8c8c8;
}
.container_bike img {
  display: block;
  margin: 35px auto;
  max-width: 100%;
  height: auto;
}

.content-text {
  clear: both;
  float: right;
  width: 56.528302%;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin-top: 29px;
}
/*FOOTER*/
footer {
  clear: both;
    background-color: #e1e1e1;
    position: relative;
    overflow: hidden;
    margin-top: 17px;

}
.footer_nav {
  float: left;
  max-width: 565px;
  height: 40px;
  margin: 0 0 0 4px;
  list-style-type: none;
}
.footer_nav li {
  float: left;
  font: 14px BrowalliaUPC;
  line-height: 39px;
  width: 140px;
}
.footer_nav li a {
  /*padding-left: 95px;*/
  text-decoration: none;
  display: inline-block;
  color: #5c5c5c;
}
#main,
.footer-nav_link_main {
  margin-left: 26px;
}
#goods,
.footer-nav_link_goods {
  text-decoration: underline;
}
.footer_nav li a:hover {
  text-decoration: underline;
}
.copyright {
  float: right;
  clear: right;
  width: 14.805383%;
  padding-top: 10px;
  margin-right: 15px;
  color: #5c5c5c
}
.copyright p {
  font-size: 12px;
}

@media (max-width: 790px) {
 .side_menu {
   float: none;
   margin: 3px;
 }
 .side_menu li {
   width: 100%;
  display: inline-block;
  text-align: center;
 }
 .container_bike {
   float: none;
   width: 100%;
   margin-top: 11px;
 }
 #link_goods {
   display: none;
 }
 .header_nav li {
   width: 33.3%
 }
  .header_nav li a {
    width: 100%;
  }
  .content-text {
    width: 100%;
  }
  .footer_nav li {
    width: 24%;
  }
  .footer_nav li a {
    width: 100%;
  }
  .copyright {
    display: none;
  }
  .footer_nav {
    width: 100%;
  }
  #main {
    margin-left: 5px;
  }
}
@media (max-width: 480px) {
  .header_nav li a:hover {
    background: linear-gradient(to top, #924320, #FF451C);
  }
  .header img {
    margin-left: 25%;
  }
}

.clearfix::after {
   content: "";
   clear:both;
   display: block;
}
