body {
  background-color: #efefef;
}

.wrapper {
  height: 750px;
  width: 551px;
  border: 1px solid #cfcfcf;
  box-shadow: 0 0 5px;
  background-color: #ffffff;
  margin: 0 auto;
}
.wrapper h1 {
  text-align: center;
  margin: 0;
  padding: 30px 0 0 0;
  font-size: 25px;
}

.photo {
  background-image: url(../img/me.png);
  background-repeat: no-repeat;
  height: 86px;
  width: 115px;
  margin: 20px 0 0 230px;
}
.work {
  text-align: center;
  font-size: 18px;
}
.line {
  width: 470px;
  margin-left: 40px;
  margin-top: 20px;
}
.first {
  list-style-type: none;
  padding-bottom: 15px;
  padding-top: 5px;
  margin-left: 61px;
}
ul li {
  padding-bottom: 5px;
  font: 18px Times New Roman, sans-serif;
  margin-left: 97px;
}
.contacts {
  margin-left: 103px;
}
.contacts p {
  font: 18px Times New Roman, sans-serif;
}
.feedback {
  width: 528px;
}
.feedback p {
  margin-left: 101px;
  font: 18px Times New Roman, sans-serif;
}
