* {
  padding: 0;
  margin: 0;
}
body {
    background-color: #0c739f;
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-x;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

.header {
  width: 1000px;
  height: 175px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
.slogan {
float: left;;
padding-top: 100px;
padding-left: 110px;
}
.slogan p {
  color: #128aa7;
}
.header_contacts {
  float: right;
  padding: 6px 20px 0 0;
}
.header_contacts span {
  font-weight: bold;
  font-size: 12px;
  color: #67b4c7;
}
.header_contacts_item1 {
  display: block;
  margin-bottom: 10px;
}
.top_menu {
  float: right;
  clear: right;
  padding: 28px 20px 0 0px;
}
.top_menu li {
  float: left;
  list-style: none;
  padding-left: 15px;
  padding-top: 52px;
}
.top_menu a {
  padding-top: 10px;
  font-size: 10px;

}
.top_menu_india {
  width: 42px;
  height: 42px;
  background-image: url('../img/indiapic.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.top_menu_nepal {
  width: 42px;
  height: 42px;
  background-image: url('../img/nepalpic.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.top_menu_tibet {
  width: 42px;
  height: 42px;
  background-image: url('../img/tibetpic.png');
  background-repeat: no-repeat;
  background-position: 8px 10px;
}
.top_menu_bhutan {
  width: 42px;
  height: 42px;
  background-image: url('../img/bhutanpic.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.top_menu_srilanka {
  width: 49px;
  height: 42px;
  background-image: url('../img/srilankapic.png');
  background-repeat: no-repeat;
  background-position: 16px 10px;
}
.top_menu_maldives {
  width: 42px;
  height: 42px;
  background-image: url('../img/maldivespic.png');
  background-repeat: no-repeat;
  background-position: 16px 10px;
}
.top_menu_srilanka pre {
  padding-top: 3px;
  font-size: 10.4px;
}
.clearfix::after {
  content: "";
   clear:both;
   display: block;
}
.maldives_photo {
  width: 1000px;
  height: 237px;
  background-image: url('../img/maldives-beach.png');
  margin: 0 auto;
}
.main_menu {
  width: 1000px;
  height: 34px;
  margin: 0 auto;
  background-color: #303030;
}
.main_menu li {
  float: left;
  list-style: none;
  display: block;
  width: 120px;
  padding-left: 22px;
  height: 34px;
  line-height: 30px;
}
.main_menu li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: block;
  height: 34px;
}
.submenu {
  height: 125px;
  background-color: #303030;
}
.submenu li {
  /*display: none;*/
  height: 25px;

}
#main_menu_travel {
  padding-left: 20px;
  width: 105px;
}
#main_menu_service {
  padding-left: 50px;
}
#main_menu_partners {
  padding-left: 20px;
}
#main_menu_about-us {
  padding-left: 38px;
  width: 86px;
}
