* {
  padding: 0;
  margin: 0;
}
body {
    background-color: #0c739f;
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-x;
    font-family: 'Popins', Tahoma, Geneva, sans-serif;
    font-size: 12px;
}
/*HEADER*/
.header {
  max-width: 1000px;
  height: 175px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  margin: 0 auto;
}
.slogan {
float: left;;
padding-top: 100px;
padding-left: 110px;
}
.slogan p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #128aa7;
}
.header_contacts {
  float: right;
  padding: 6px 20px 0 0;
}
.header_contacts span {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #67b4c7;
}
.header_contacts p,
.header_contacts mail {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}
.header_contacts_item1 {
  display: block;
  margin-bottom: 10px;
}
.top_menu {
  float: right;
  clear: right;
  padding: 3px 20px 0 0px;
}
.top_menu li {
  float: left;
  list-style: none;
  padding-left: 15px;
  padding-top: 53px;
  height: 23px;
}
.top_menu a {
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  text-decoration: none;
}
.top_menu_india {
  width: 42px;
  height: 42px;
  background-image: url('../img/indiapic.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.top_menu_nepal {
  width: 42px;
  height: 42px;
  background-image: url('../img/nepalpic.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.top_menu_tibet {
  width: 42px;
  height: 42px;
  background-image: url('../img/tibetpic.png');
  background-repeat: no-repeat;
  background-position: 8px 10px;
}
.top_menu_bhutan {
  width: 42px;
  height: 42px;
  background-image: url('../img/bhutanpic.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.top_menu_srilanka {
  width: 49px;
  height: 42px;
  background-image: url('../img/srilankapic.png');
  background-repeat: no-repeat;
  background-position: 16px 10px;
}
.top_menu_maldives {
  width: 42px;
  height: 42px;
  background-image: url('../img/maldivespic.png');
  background-repeat: no-repeat;
  background-position: 16px 10px;
}
.top_menu_container {
  display: none;
}
.top_menu-ul {
  display: none;
}
.top_menu_srilanka pre {
  padding-top: 1px;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}
.clearfix::after {
  content: "";
   clear:both;
   display: block;
}

/*MALDIVES PHOTO*/

.maldives_photo {
  max-width: 1000px;
  /*height: 237px;*/
  margin: 0 auto;
}
.maldives_photo img {
  max-width: 100%;
  height: auto;
}

.wrapper_ipad {
  display: none;
}
.main_menu_ul {
  max-width: 1000px;
  height: 34px;
  margin: 0 auto;
}
.main_menu {
  max-width: 1000px;
  height: 34px;
  margin: -2px auto;
  background-color: #303030;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 20;
}
.main_menu li {
  float: left;
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 14.2%;
  /*padding-left: 22px;*/
  height: 34px;
  line-height: 30px;
  text-align: center;
}
.main_menu li a {
  height: 34px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-decoration: none;
  display: block;
}
.main_menu li a:hover {
  background-color: #0F7FA7;
  transition: 0.7s;
}
.submenu {
  height: 129px;
  max-width: 105px;
  background-color: #303030;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  display: none;
}
.submenu li {
  height: 25px;
  /*width: 83px;*/
  width: 100%;
  padding-left: 0px;
  text-align: center;

}
.submenu li a {
  height: 25px;
}
/*.submenu li a:hover {
  background-color: #0088FF;
}*/
ul.main_menu > li:hover > ul.submenu {
    display: block;
}
.main_menu_cst-reviews {
  padding-left: 35px;
}
#main_menu_travel {
  padding-left: 5%;
  max-width: 105px;
}
#main_menu_service {
  padding-left: 3%;
  width: 10%;
}
#main_menu_partners {
  padding-left: 3%;
  width: 11%;
}
#main_menu_about-us {
  padding-left: 1%;
  max-width: 86px;
}
#cst-reviews {
  padding-left: 2%;
}

/*MAIN CONTENT*/
.main_content_middle {
  display: none;
}
.main_content {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}
.left_column {
  float: left;
  background: #edeef0;
  width: 21%;
  height: 605px;
  text-align: center;
}
.centr_column {
  float: left;
  width: 58%;
  height: 605px;
  background: #ffffff;
  text-align: center;
}
.right_column {
  float: right;
  background: #edeef0;
  width: 21%;
  height: 605px;
  text-align: center;
}
.left_column h3,
.centr_column h3,
.right_column h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 10px 0 10px 0;
  color: #424c43;
}
.centr_column p {
  font-size: 14px;
  color: #424c43;
  font-family: 'Poppins', serif;
  padding: 10px 12px;
}
.asia_photo {
  max-width: 92%;
  margin: 0 auto;
}
.asia_photo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.left_column div {
  width: 90%;
  padding-bottom: 35px;
  margin: 0 auto;
}
.left_column div a {
  color: #2777E4;
}
.alf {
  max-width: 189px;
}
.alf img {
display: block;
max-width: 100%;
height: auto;
margin: 0 auto;
}
.oasis {
  max-width: 194px;
}
.oasis img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.right_column div {
  padding-bottom: 20px;
}
.right_column div img {
  padding-bottom: 5px;
}
.right_column div p a {
  text-decoration: none;
  color: #FD4C00;
  font-size: 14px;
  color: #FD4C00;
  letter-spacing: 0.5px;
}

/*FOOTER*/

footer {
  max-width: 1000px;
  margin: 0 auto;
  }
footer p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #fff;
  padding: 10px 0;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .top_menu-ul_srilanka pre {
      padding-top: 1px;
      font-family: 'Poppins', sans-serif;
      font-size: 10px;
    }
    .main_menu_ul  {
      display: none;
    }
    .wrapper_ipad {
     display: block;
     max-width: 1000px;
     height: 58px;
     background-color: #303030;
     box-sizing: border-box;
     margin: -3px auto;
    }
    .wrapper_ipad div {
      box-sizing: border-box;
      border: 1px solid #ccc;
      background-color: #303030;
    }
    .one {
      float: left;
      width: 30%;
      height: 50%;
      background-color: #303030;
    }
    .two {
      float: left;
      width: 35%;
      height: 50%;
      background-color: #303030;
    }
    .three {

      float: right;
      width: 35%;
      height: 50%;
      background-color: #303030;
    }
    .four,
    .five,
    .six,
    .seven {
      float: left;
      width: 25%;
      height: 50%;
      background-color: #303030;
    }
    .wrapper_ipad a {
      height: 100%;
      display: block;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      text-decoration: none;
      line-height: 25px;
      color: #fff;
    }
    .wrapper_ipad a:hover {
      background-color: #0F7FA7;;
      box-sizing: border-box;
      transition: 0.7s;

    }
    .centr_column {
      height: auto;
    }
    .right_column,
    .left_column {
      height: 623px;
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 768px) {

    .header {
      height: auto;
      padding-bottom: 10px;
    }
    .top_menu-ul_srilanka pre {
      display: inline-block;
      font-family: 'Poppins', sans-serif;
      font-size: 10px;
    }
    .main_menu_ul {
      display: none;
    }
    .header_contacts {
      display: block;
    }
    .top_menu {
      display: none;
      max-width: 300px;
      position: absolute;
      top: -3%;
      left: 60%;
    }
    .slogan {
      padding-bottom: 20px;
    }
    .top_menu_container {
      display: block;
      max-width: 768px;
      height: 70px;
      text-align: center;
      background-color: #FFFFFF;
    }

    .top_menu-ul {
      display: inline-block;
      width: auto;
      height: 62px;
      margin: 5px auto;
      }
    .top_menu-ul img {
      width: 100%;
      height: auto;
    }
    .top_menu-ul_srilanka img {
      margin-left: 6px;
    }
    .top_menu_container li {
      float: left;
      max-width: 39px;
      list-style: none;
      padding-left: 35px;
      font-family: 'Poppins', sans-serif;
      font-size: 9px;
    }
    .top_menu_container li a {
      text-decoration: none;
    }
    .top_menu-ul_india {
      padding-left: 18%;

    }
    .wrapper_ipad {
     display: block;
     max-width: 1000px;
     height: 60px;
     background-color: #303030;
     box-sizing: border-box;
     margin: -3px auto;
    }
    .wrapper_ipad div {
      box-sizing: border-box;
      border: 1px solid #ccc;
      background-color: #303030;
    }
    .one {
      float: left;
      width: 30%;
      height: 50%;
      background-color: #303030;
    }
    .two {
      float: left;
      width: 35%;
      height: 50%;
      background-color: #303030;
    }
    .three {

      float: right;
      width: 35%;
      height: 50%;
      background-color: #303030;
    }
    .four,
    .five,
    .six,
    .seven {
      float: left;
      width: 25%;
      height: 50%;
      background-color: #303030;
    }
    .wrapper_ipad a {
      height: 100%;
      display: block;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      text-decoration: none;
      line-height: 26px;
      color: #fff;
    }
    .wrapper_ipad a:hover {
      background-color: #0F7FA7;;
      box-sizing: border-box;
      transition: 0.7s;
    }
    .main_content {
      display: none;
    }
    .main_content_middle {
      display: block;
    }
    .centr_column {
      float: none;
      width: 100%;
      height: 610px;
    }
    .centr_column p {
        font-size: 14px;
        color: #424c43;
        font-family: 'Poppins', serif;
        padding: 5px 0px;
    }
    .left_column {
      width: 50%;
    }
    .right_column {
      width: 50%;
    }
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {

    .top_menu_container {
      display: block;
      max-width: 768px;
      height: 62px;
      text-align: center;
      background-color: #FFFFFF;
      /*margin-bottom: 10px;*/
    }
    .top_menu-ul {
      display: inline-block;
      width: auto;
      height: 62px;
      margin: 5px auto;
      }
    .top_menu-ul img {
      width: 100%;
      height: auto;
    }
    .top_menu_container li {
      float: left;
      max-width: 39px;
      list-style: none;
      padding-left: 5px;
      text-decoration: none;
    }
    .top_menu-ul_india {
      padding-left: 15%;
      margin-left: -30px;
    }
    .top_menu-ul_srilanka img {
      margin-left: 8px;
    }
    .top_menu_container li a {
      text-decoration: none;
    }
    .top_menu-ul_srilanka pre {
      display: inline-block;
      padding-top: 0px;
      font-family: 'Poppins', sans-serif;
      font-size: 11.7px;
    }
    .top_menu-ul_maldives {
      margin-left: 24px;
    }
    .top_menu-ul_maldives img {
      margin-left: 5px;
    }

    .top_menu {
      display: none;
    }
    .header_contacts {
      display: none;
    }
    .main_menu_ul {
      display: none;
    }
    .wrapper_ipad {
     display: block;
     max-width: 1000px;
     height: 70px;
     background-color: #303030;
     box-sizing: border-box;
     margin: -3px auto;
    }
    .wrapper_ipad div {
      box-sizing: border-box;
      border: 1px solid #ccc;
      background-color: #303030;
    }
    .one {
      float: left;
      width: 30%;
      height: 50%;
      background-color: #303030;
    }
    .two {
      float: left;
      width: 35%;
      height: 50%;
      background-color: #303030;
    }
    .three {

      float: right;
      width: 35%;
      height: 50%;
      background-color: #303030;
    }
    .four,
    .five,
    .six,
    .seven {
      float: left;
      width: 25%;
      height: 50%;
      background-color: #303030;
    }
    .wrapper_ipad a {
      height: 100%;
      display: block;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      text-decoration: none;
      line-height: 31px;
      color: #fff;
    }
    .wrapper_ipad a:hover {
      background-color: #0F7FA7;;
      box-sizing: border-box;
      transition: 0.7s;
    }
    .main_content {
      display: none;
    }
    .main_content_middle {
      display: block;
    }
    .centr_column {
      float: none;
      width: 100%;
      height: auto;
    }
    .centr_column p {
      padding: 0;
    }
    .left_column {
      width: 50%;
    }
    .right_column {
      width: 50%;
    }
    .asia_photo {
      max-width: 100%;
      margin: 0 auto;
    }
    .asia_photo img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
}
